<footer>
    <div id="contact-block" class="container d-flex justify-content-around">
        <div>
            <h3>Coordonnées</h3>
            <p>Le musée du Louvre</p>
            <p>Rue de Rivoli</p>
            <p>75001 Paris, France</p>
            <p>Tél: 123 456 78 90</p>
        </div>

        <div>
            <h3>Partager</h3>
            <a href="#"><span class="btn btn-outline-secondary fa fa-facebook"></span></a>
            <a href="#"><span class="btn btn-outline-secondary fa fa-twitter"></span></a>
            <a href="#"><span class="btn btn-outline-secondary fa fa-instagram"></span></a>
            <a href="#"><span class="btn btn-outline-secondary fa fa-youtube"></span></a>
        </div>
    </div>
</footer>