.card--form .card-title,
.visitor label {
  font-size: .8rem;
  color: rgba(black, .5);
  font-weight: 500;
  text-transform: uppercase;
}

small {
  font-size: .7rem;
  text-transform: initial;
  color: rgba(black, .5);
}

.card--form {
  max-width: 350px;
  label, input {
    position: relative;
    display: block;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: 1px solid $blue-color;
    cursor: pointer;
    color: $blue-color;
    transition-duration: 0.4s;
  }

  .form-radio-container{
    display: flex;
    justify-content: space-between;
    label {
      width: calc(50% - .5rem);

      &:before {
        position: absolute;
        background-color: white;
        color: white;
        content: "";
        border-radius: 50%;
        border: 1px solid $blue-color;
        top: -11px;
        right: -11px;
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 20px;
        transition-duration: 0.4s;
        transform: scale(0);
      }
    }
    :checked + label {
      background-color: $blue-color;
      color: #fff;
    }
    :checked + label:before {
      content: "✓";
      color: $blue-color;
      transform: scale(1);
    }
  }

  .form-radio-container.complet {
    label {
      width: 100%;
    }
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    div {
      width: calc(50% - .5rem);
      input {
        width: 100%;
        max-width: 100%;
      }
      input[type="date"] {
        padding: .5rem;
      }
    }
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.checkout {
  > p {
    padding: .5rem 0;
    font-weight: 600;
  }

  p {
    margin: 0;
    color: var(--gray);
  }

  .card-body {
    padding: 1rem 2rem;
    padding-bottom: 0;
    hr {
      margin: 0;
      margin-top: 1rem;
    }
  }
  > p, > hr {
    margin: 0;
  }

  .card-body ~ .d-flex {
    padding: 1rem 2rem;
    p, span {
      color: var(--gray);
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

.stripe-button-el {
  width: 100%;
}